@model List<CCL_WEB.Models.Listing>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-100">
    <section style="border-radius: 22px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-bg-warning formControl-shadow-1-2-50">
                    <form asp-controller="Home" asp-action="Index" method="post" name="formSearch">
                        <div class="card-body">
                            <div class="card-title text-center">Search Query</div>
                            <div class="col-sm-12">
                                <p class="mb-1">
                                    <select id="years" class="form-control formControl-shadow-1-1-25 mb-1" name="year">
                                        <option value="">Year</option>
                                    @if (ViewBag.years != null)
                                    {
                                        @foreach (var item in ViewBag.years)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                    else
                                    {
                                    }

                                    </select>
                                </p>
                                <p class="mb-1">
                                    <select class="form-control formControl-shadow-1-1-25 mb-1" name="make">
                                        <option value="">Make</option>
                                        @if (ViewBag.makes != null)
                                        {
                                            @foreach (var item in ViewBag.makes)
                                            {
                                                <option value="@item">@item</option>

                                            }
                                        }
                                        else
                                        {

                                        }

                                    </select>
                                </p>
                                <p class="mb-1">
                                    <select class="form-control formControl-shadow-1-1-25 mb-1" name="model">
                                        <option value="">Model</option>
                                        @if (ViewBag.models != null)
                                        {
                                        @foreach (var item in ViewBag.models)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                        else
                                        {

                                        }
                                    </select>
                                </p>
                                <input type="submit" Value="Submit" class="btn btn-primary btn-shadow-1 mb-2 mt-2" />
                            </div>
                        </div>
                    </form>
                </div>
                <!--End Card-->
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-sm-12">
                <div class=" alert alert-warning text-dark box-shadow-2">Use the above form to search for classic cars by Year, Make and Model</div>
            </div>
        </div>
    </section>
    
    <section class="container">
        @if (Model != null)
        {
            if (Model.Count < 1)
            {
                <div class="alert alert-dark mt-5 box-shadow-1">
                    Your query return 0 results. Either there are 0 Listings or your query was in the wrong format.
                </div>
            }
            else
            {
                <div class="row mt-5">

                    @foreach (var listing in Model)
                    {
                        <div>
                            <div class="card formControl-shadow-2-2-50 card-bg-light-grey-dark-grey mb-3 align-content-center p-2">
                                <div class="row no-gutters">
                                    <div class="col-sm-4 flex">
                                        @if (listing.MainImgUrl == null)
                                        {
                                            <label>no image available</label>
                                        }
                                        else
                                        {
                                            <img src="@Url.Content(listing.MainImgUrl)" class="card-img align-content-center box-shadow-2 mt-3" alt="...">
                                        }

                                    </div>
                                    <div class="col-sm-8">
                                        <div class="card-body">
                                            <h6 class="card-subtitle text-black-50 ml-2">@listing.ListingId</h6>
                                            <h5 class="card-title text-warning text-shadow-1-2-50 ml-2">@listing.Title</h5>
                                            <p class="card-text ml-2">
                                                @listing.Location
                                                <br />Price:&nbsp;@listing.Price
                                                <br />Make:&nbsp;@listing.Make
                                                <br />Model:&nbsp;@listing.Model
                                                <br />Year&nbsp;@listing.Year
                                                <br />
                                                <div class="mt-5 ml-1">
                                                    @if (listing.DealerUrl != "" || listing.DealerUrl != null)
                                                    {
                                                        <a class="btn btn-dark text-shadow" role="button" asp-controller="SingleListing" asp-action="Index" asp-route-id="@listing.Id">Details</a>
                                                    }
                                                </div>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            }

        }
    </section>
</div>

