@model List<CCL_WEB.Models.Listing>
@{
    ViewData["Title"] = "Home Page";
}
<section class="row mt-5 mb-5" style="background-color:#524533;">
    <div class="col-sm-12">
        <h5>Ad Section</h5>
    </div>
</section>
<section style="border-radius: 10px;">
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-bg-warning formControl-shadow-1-2-50">
                    <div class="card-body">
                        <div class="card-title text-center">Search Query</div>
                        <div class="col-sm-12">
                            <p class="mb-1">
                                <select class="form-control formControl-shadow-1-1-25 mb-1" name="year">
                                    <option value="">Year</option>
                                    @foreach (var item in ViewBag.years)
                                    {
                                        <option value="@item" name="">@item</option>
                                    }
                                </select>
                            </p>
                            <p class="mb-1">
                                <select class="form-control formControl-shadow-1-1-25 mb-1" name="make">
                                    <option value="">Make</option>                       
                                    @foreach (var item in ViewBag.makes)                 
                                    {                                                    
                                        <option value="@item">@item</option>             
                                    }                                                    
                                </select>                                                
                            </p>                                                         
                            <p class="mb-1">                                             
                                <select class="form-control formControl-shadow-1-1-25 mb-1" name="model">
                                    <option value="">Model</option>
                                    @foreach (var item in ViewBag.models)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </p>
                            <input type="submit" Value="Submit" class="btn btn-primary btn-shadow-1 mb-2 mt-2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 car">
                <img src="~/img/head-to-head.png" />
            </div>
        </div>
    </form>
</section>
<section>
    @if (Model != null)
    {
        if (Model.Count < 1)
        {
            <div class="alert alert-dark mt-5 box-shadow">
                Your query return 0 results. Either there are 0 Listings or your query was in the wrong format.
            </div>
        }
        else
        {
            <div class="row mt-5">
                <div class="container">
                    @foreach (var listing in Model)
                    {
                        <div class="col-sm-12 align-content-center">
                            <div class="card formControl-shadow-2-2-50 card-bg-light-grey-dark-grey mb-3" style="width: 68rem;">
                                <div class="row no-gutters">
                                    <div class="col-sm-4">
                                        @if (listing.MainImgUrl == null)
                                        {
                                            <label>no image available</label>
                                        }
                                        else
                                        {
                                            <img src="@Url.Content(listing.MainImgUrl)" class="card-img img-fluid box-shadow-3 m-3" alt="...">
                                        }

                                    </div>
                                    <div class="col-sm-8">
                                        <div class="card-body">
                                            <h6 class="card-subtitle text-black-50 ml-2">@listing.ListingId</h6>
                                            <h5 class="card-title text-warning-to-bottom text-shadow-1-2-50 ml-2">@listing.Title</h5>
                                            <p class="card-text ml-2">
                                                @listing.Location
                                                <br />Price:&nbsp;@listing.Price
                                                <br />Make:&nbsp;@listing.Make
                                                <br />Model:&nbsp;@listing.Model
                                                <br />Year&nbsp;@listing.Year
                                                <br />
                                                <div class="mt-5 ml-1">
                                                    @if (listing.DealerUrl != "" || listing.DealerUrl != null)
                                                    {
                                                        <a class="btn btn-drak text-shadow" role="button" asp-controller="SingleListing" asp-action="SingleListing" asp-route-id="@listing.Id">Details</a>
                                                    }
                                                </div>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

    }
</section>
